p {
    margin-bottom: 35px;
    margin-left: 5px;


}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}








.naslov {
    padding-left: 5px;
}

#osnovno {
    margin-left: 40px;
    
}

#detalji {
    margin-left: 40px;
    width: 700px;
}

.details-grid {
    display: grid;
    grid-template-columns: 350px 350px;
}

.opis {
   word-break: break-all;
}

#upiti {
    margin-left: 40px;
    width: 700px;
}

.query {
    margin-bottom: 0;
    word-break: break-all;
}


.lista-query {
    list-style-type: none;
    padding-left: 0;
}


li {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 20px;
}
