p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    background-color: #fdf1d3 ;
    padding-top: 200px;
}

.iframe-menu {
    background-color: #d7cbad;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    height: 40px;
    border-bottom-style: solid;
    border-bottom-color: rgba(169, 167, 167, 0.3);
    border-bottom-width: 1px;
    z-index: 100;
} 


#stan {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}


#kuca {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}


#pp {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.slika {
    width: 100%;
}

.element {
    width: 300px;
}

.kuca {
    background-color: powderblue;
}

.stan {
    background-color: white;
}

.poslovni {
    background-color: green;
}


.info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.grid-header {
    padding-left: 20px;
    height: 50px;
    background: rgba(218, 185, 102, 0.3);
}

.grid-object-type {
    font-size: 25px;
    font-weight: 400;
    color: rgb(104, 98, 98);
    background-color: #fdf1d3;
    display: inline-block;
    margin-top: 2px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #fdf1d3;
}

.wrapper {
    margin-bottom: 90px;
}

.details-button {
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 3px; 
    color: white;
    font-family: 'Roboto', 'sans-serif';
    background-color: rgba(168, 164, 164, 0.55);
    margin-bottom: 4px;
}

.details-button:hover {
    cursor: pointer;
}