p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: #fdf1d3 ;
    height: 3000px;
    padding-top: 70px;
}

.iframe-menu {
    background-color: #d7cbad;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    height: 40px;
    border-bottom-style: solid;
    border-bottom-color: rgba(169, 167, 167, 0.3);
    border-bottom-width: 1px;
    z-index: 100;
} 


#stan {
    display: grid;

  /*  grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}


#kuca {
    display: grid;
}


#pp {
    display: grid;
}

.slika {
    width: 100%;
}

.element {
    width: 300px;
    background-color: white;
}


.info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}


