
.profile-photo {
    display: block;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}  


.container {
    max-width: 500px;
}

.input {
    height: 35px;
    border: none;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.02);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}
