.profile-photo {
  display: block;
  width: 200px;
}

@media screen and (min-width: 500px) and (max-height: 9999px) {
  .profile-photo {
    display: inline-block;
  }
}

.container {
  display: inline-block;
  vertical-align: top;
  width: 280px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  height: 35px;
  border: none;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.02);
}

p {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

.send-button {
  width: 75px;
  height: 30px;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: 'Roboto', 'sans-serif';
  background-color: rgba(168, 164, 164, 0.55);
  margin-bottom: 4px;
}
